.editfeat {
  display: flex;
  justify-content: flex-start; /* Updated value */
  gap: 10px;
  position: absolute;
  top: 0;
  left: 0; /* Updated property */
  }
  
  .currentDates {
    display: flex;
    align-items: center; /* Added property */
    justify-content: flex-end;
    gap: 10px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
  }
  
  .currentDates input[type="text"] {
    font-size: 20px;
    width: auto;
  }
  
  
  
  .salesitems {
    display: flex;
    gap: 20px;
  }
  
  .salesitem {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    align-items: center;
  }
  
  .salesitem label {
    display: flex;
    align-items: center;
  }
  
  .salesitem input[type="text"],
  .salesitem input[type="number"],
  .salesitem textarea {
    width: 100%;
  }

  
  .card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  .card-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
  }
  
  .edit-button,
  .delete-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #eaeaea;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .edit-button {
    color: #007bff;
  }
  
  .delete-button {
    color: #dc3545;
  }