.editfeat {
    position:absolute;

    text-align: center; 
    top: 60px;
  }
  
  .currentDates {
    display: flex;
    justify-content: center;
    gap: 10px;
   
  }
  
  .salesitems {
    display: flex;
    gap: 20px;
  }
  
  .salesitem {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    align-items: center;
  }
  
  .salesitem label {
    display: flex;
    align-items: center;
  }
  
  .salesitem input[type="text"],
  .salesitem input[type="number"],
  .salesitem textarea {
    width: 100%;
  }

  
  .card {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  .card-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
  }
  
  .edit-button,
  .delete-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #eaeaea;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .edit-button {
    color: #007bff;
  }
  
  .delete-button {
    color: #dc3545;
  }