.editfeat {
  display: flex;
  justify-content: flex-start; /* Updated value */
  gap: 10px;
  position: absolute;
  top: 0;
  left: 0; /* Updated property */
  padding-left: 20px;
  
  }
  
  .currentDates {
    display: flex;
    align-items: center; /* Added property */
    justify-content: flex-end;
    gap: 10px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
  }
  
  .currentDates input[type="text"] {
    font-size: 20px;
    width: auto;
  }
  
  
  
  .salesitems {
    display: flex;
    gap: 20px;
    background-image: url("/public/images/ripbox.jpeg");
    
  }
  
  .salesitem {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    align-items: center;
    

  }
  
  .salesitem label {
    display: flex;
    align-items: center;
  }
  
  .salesitem input[type="text"],
  .salesitem input[type="number"],
  .salesitem textarea {
    width: 100%;
  }

  
  .card {
    transform: rotate(calc(-5deg + 10deg * random()));
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    background-image: url("/public/images/pin.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 0px rgb(104, 104, 104),
              2px 2px 0px rgb(142, 142, 142),
              5px 5px 20px rgb(51, 51, 51);
  max-width: 500px;
  }
  .card-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    
  }
  
  .edit-button,
  .delete-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #eaeaea;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .edit-button {
    color: #007bff;
  }
  
  .delete-button {
    color: #dc3545;
  }