.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }
  
  .MapContainer {
    margin: 20px;
    flex: 1;
    height: 85%;
    width: 85%;
    background-color: #f2f2f2;
    border:solid;
    border-color: black;
    border-width: 3px;
    
  }
  .popup {
    background-image: url("/public/images/ripbox.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 0px rgb(9, 9, 9),
                2px 2px 0px rgb(126, 97, 74),
                3px 3px 0px rgb(192, 145, 110),
                4px 4px 0px rgb(192, 145, 110),
                5px 5px 0px rgb(192, 145, 110),
                6px 6px 0px rgb(13, 13, 13);
  }