@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body{ 
  background-image: url("/public/images/grass.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Permanent Marker', cursive;
}
h2{ 
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Adjust the margin-top as needed */
 
}

.container p {
  margin-bottom: 10px;
}

.addSale {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Permanent Marker', cursive;
  margin-top: 20px; /* Adjust the margin-top as needed */
  background-image: url("/public/images/ripbox.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 0px rgb(9, 9, 9),
              2px 2px 0px rgb(126, 97, 74),
              3px 3px 0px rgb(192, 145, 110),
              4px 4px 0px rgb(192, 145, 110),
              5px 5px 0px rgb(192, 145, 110),
              6px 6px 0px rgb(13, 13, 13);
}

.addSale h2 {
  margin: 0;
}

.addSale .addform {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 5px;
}

.addSale .addform label {
  margin-top: 5px;
}

.addSale input[type="submit"] {
  margin-top: 10px;
  font-family: 'Permanent Marker', cursive;
  background-color: burlywood;
  color:black
}



.sales {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 65%;
  margin-top: 20px; /* Add some margin below the form */
}

.sale-card {
  width: calc(30% - 10px); /* 33.33% width with some spacing */
  margin-bottom: 20px;
  font-family: 'Permanent Marker', cursive;
  font-size: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-image: url("/public/images/ripbox.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 1px 1px 0px rgb(9, 9, 9),
              2px 2px 0px rgb(126, 97, 74),
              3px 3px 0px rgb(192, 145, 110),
              4px 4px 0px rgb(192, 145, 110),
              5px 5px 0px rgb(192, 145, 110),
              6px 6px 0px rgb(13, 13, 13);
}



.sale-card:nth-child(3n+1) {
  margin-right: 0; /* Remove right margin for the first card in each row */
}

  
  .sale-card:last-child {
    margin-right: 0; /* Remove right margin for the last card in a row */
  }
  
  .sale-card h3 {
    margin: 0;
  }
  
  .sale-card h4 {
    margin: 10px 0;
  }
  
  .sale-card div {
    margin-top: 10px;
  }
  
  .sale-card p {
    margin: 0;
  }
  
  